
#temp-reader{
	background-color: rgba(240, 228, 228, .5);
	text-align: center;

	/*temporary*/
	height: 500px;
}


.fa-sun-o, .fa-moon-o, .fa-bolt{
	color: #C1A70C;
}
.fa-thermometer-full{
	color: #C1310C;
}
.fa-snowflake-o{
	color: #4D70AB;
}










/*Source: https://css-tricks.com/perfect-full-page-background-image/*/
html, .container-fluid{
	background: url('../images/snow.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}
















