body{
	/*background-image: url('../images/snow.jpeg');
	background-repeat: no-repeat;
	background-size: cover;*/
}

/*image{
	height: 100%;
}*/













/*Source: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Scaling_background_images*/
.bgSizeCover {
  height: 100rem;
  background-image: url('../images/rainy-mobile.jpg');
  background-size: cover;
  border: 2px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;